    <div id="queryModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="search-container">
		                <form class="form-inline" action="/">
			                <input class="form-control" type="text" placeholder="Search..." name="q">
		                </form>
	                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
